
@import 'normalize';
@import 'config';
@import 'utils';

// Navbar
.navbar{
  
  border-bottom: 1px solid #eee;
  a{
    color: #ddd;
  }
  .container{
    .logo-link{
      float: left;

      .logo-text{
        font-size: 2rem;
      }
    }

    .menu-toggler{
      display: none;
    }

    .navlinks{
      float: right;
      line-height: 2rem;
      a{
        
        vertical-align: middle;
        padding: 5px 10px;
      }
    }
  }
}

// Banner
.banner{
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  background: url('../img/programming-503x225.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .landing{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .9;
    color: #ddd;
    background-color: #333;
    text-align: center;
    padding: 8rem 0rem;
  }
}

.form{
  width: 80%;
}
// Dashboard
.dashboard-navigation{
  a{
    display: inline-block;
    margin: 1rem 1.2rem
  }
}

// profiles listin

.profile-listing{
  .intro {
    h1, p{
      margin: 1rem auto;
    text-align: center;
    }
  }
  .profile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid $primary-color;
    & > div{
      padding: 2rem;
    }
  }
}

// Member profile page
.member-profile{
  text-align: center;
  line-height: 1.5;
  .profile-header{
    text-align: center;
    img{
      padding-bottom: 10px;
    }
    .connect-icons{
      a{
        margin: 5px;
        padding: 3px;
        
      }
    }
  }
  .skills-bio-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    text-align: left;
    
  }

  .edu-exp-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    text-align: left;

    .education{
      .study{
        padding: 1rem;
        border-bottom: 1px solid #eee;
        background-color: $light-color;
        
        p{
          margin-bottom: .8rem;
        }
      }
    }

    .experience{
      .work{ 
        padding: 1rem;
        border-bottom: 1px solid #eee;
        p{
          margin-bottom: .8rem;
        }
      }
    }
  }
}

// Dashboard Manage posts
.manage-post-card{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-color;
  padding-bottom: 1.75rem;

  .post-content{
    .post-title{
      margin-bottom: .75rem;
      font-size: 2rem;
    }
    article{
    margin-bottom: 1rem; 
    }
  }
}

// Dashboard Post listings
.post-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.post-discussion-btn{
  display: block;
  margin: 1.5rem auto;
  text-align: center;
}

// complete post blog
.post{
  .post-image{
  width: 100%;
  max-height: 8rem;
}
.post-content{
  width: 100%;
  pre{
    text-align: left;
    width: 100%;
    &::first-letter{
      font-size: 1.5rem;
    }
  }
}
.post-comments{
  .comment{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1.75rem .75rem;
    .comment-content{
      padding-left: 1.5rem;

    }
  }
}
}

@import 'mobile';